{
  "presets": [
    "@babel/preset-env",
    ["@babel/preset-react", { "targets": { "node": "current" } }]
  ],
  "plugins": [
    "add-module-exports",
    "@babel/plugin-proposal-function-bind",
    "@babel/plugin-transform-runtime",
    "transform-class-properties",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-transform-classes"
  ],
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
